.ppw-all-animations-hover-container {
    display: flex;
    flex-wrap: wrap;
}

.ppw-all-animations-hover-box {
    flex: 1 1 250px;
    text-align: center;
}

.ppw-all-animations-motion-container {
    width: 100%
}

.ppw-all-animations-motion-box {
    width: 100%;
    text-align: center;
}